{% extends "dashboard/base.html" %}

{% block page_title %}Create Task{% endblock %}

{% block content %}

<div class="card">

<h2>Create Task</h2>

<form method="POST">

{% csrf_token %}

<label>Title</label>
<input name="title" required>

<label>Description</label>
<textarea name="description"></textarea>

<label>Project</label>
<select name="project">

{% for project in projects %}

<option value="{{ project.id }}">
{{ project.name }} ({{ project.organization.name }})
</option>

{% endfor %}

</select>

<label>Assign User</label>
<select name="assignee">

{% for user in users %}

<option value="{{ user.id }}">
{{ user.email }} ({{ user.role }})
</option>

{% endfor %}

</select>

<button>Create Task</button>

</form>

</div>

{% endblock %}