{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between mb-4">
    <h2>Projects</h2>

    <button 
        class="btn btn-primary"
        hx-get="/projects/create/"
        hx-target="#modal-body"
        data-bs-toggle="modal"
        data-bs-target="#projectModal">
        + Create Project
    </button>
</div>

<div id="project-container">
    {% include "dashboard/project_cards.html" %}
</div>

<!-- Modal -->
<div class="modal fade" id="projectModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
      </div>
    </div>
  </div>
</div>

{% endblock %}