{% extends "dashboard/base.html" %}

{% block content %}

<div class="bg-white p-6 rounded shadow">

<h2 class="text-xl font-bold mb-4">
{{ task.title }}
</h2>

<p class="text-gray-500 mb-6">
{{ task.description }}
</p>

<div class="grid grid-cols-3 gap-6 text-sm">

<div>
<strong>Status</strong>
<p>{{ task.status }}</p>
</div>

<div>
<strong>Priority</strong>
<p>{{ task.priority }}</p>
</div>

<div>
<strong>Assignee</strong>
<p>{{ task.assignee.username|default:"Unassigned" }}</p>
</div>

</div>

</div>

{% endblock %}
