{% extends "dashboard/base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="card">

<h2>Create User</h2>

<form method="POST">

{% csrf_token %}

<input name="email" placeholder="Email">

<input name="password" type="password" placeholder="Password">

<select name="role">

<option value="ADMIN">Admin</option>
<option value="MANAGER">Manager</option>
<option value="MEMBER">Member</option>

</select>

<button>Create User</button>

</form>

</div>

<div class="card">

<h2>User List</h2>

<table>

<tr>
<th>Email</th>
<th>Role</th>
</tr>

{% for user in users %}

<tr>
<td>{{ user.email }}</td>
<td>{{ user.role }}</td>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}